




<input #fileinput hidden id="input-file" type="file" accept="image/*;capture=camera" (change)="verificarArchivoConQR($event)" />


<ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
  <ion-icon slot="start" name="videocam-outline"></ion-icon>
  Comenzar Escaneo de QR
</ion-button>


<ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
  <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
  Detener escaneo de QR
</ion-button>


<video #video [hidden]="!escaneando" width="100%"></video>


<canvas #canvas hidden></canvas>





