








  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos de la Clase</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table>
        <tr>
          <td class="ancho_columna_titulos">Bloque de Inicio</td>
          <td id="data">{{bloqueInicio}}</td>
        </tr>
        <tr>
          <td>Bloque de Término</td>
          <td id="data">{{bloqueTermino}}</td>
        </tr>
        <tr>
          <td>Día</td>
          <td id="data">{{dia}}</td>
        </tr>
        <tr>
          <td>Hora de Fin</td>
          <td id="data">{{horaFin}}</td>
        </tr>
        <tr>
          <td>Hora de Inicio</td>
          <td id="data">{{horaInicio}}</td>
        </tr>
        <tr>
          <td>Sigla</td>
          <td id="data">{{idAsignatura}}</td>
        </tr>
        <tr>
          <td>Nombre de Asignatura</td>
          <td id="data">{{nombreAsignatura}}</td>
        </tr>
        <tr>
          <td>Nombre del Profesor</td>
          <td id="data">{{nombreProfesor}}</td>
        </tr>
        <tr>
          <td>Sección</td>
          <td id="data">{{seccion}}</td>
        </tr>
        <tr>
          <td>Sede</td>
          <td id="data">{{sede}}</td>
        </tr>
      </table>

    </ion-card-content>
  </ion-card>


